[submodule "lib/dappsys"]
	path = lib/dappsys
	url = https://github.com/dapphub/dappsys.git
[submodule "lib/openzeppelin-solidity"]
	path = lib/openzeppelin-solidity
	url = https://github.com/OpenZeppelin/openzeppelin-solidity.git
